{% extends "kohrsupply/base.html" %}

{% block content %}

<div class="location">

    <h1>
    {{ location.locationname }}
    {{ location.mail }}
    </h1>

    {% if user.is_authenticated %}
            <form method="POST" id="checkin" class="right">
            {% csrf_token %}
            <input name="checkin" value="{{ location.id }}" type="hidden" />
            <button id="savetrs" type="submit" class="save btn btn-default">checkin!</button>
        </form>
    {% endif %}

    {{ location.street }} {{ location.streetnr }}<br />
    {{ location.zip }} {{ location.city }}<br />
    {{ location.country }}

    {% load l10n %}

    <span class="coords">{{ location.geoLat | unlocalize }}, {{ location.geoLon | unlocalize }}</span>
    
    <br />
    <small>Created by {{ location.author }} at {{ location.lastused }}</small>

    {% if user.is_authenticated %}
    {% endif %}
    <br />    
    {% if location.author.id == user.id %}
    <a href="{% url 'location_edit' pk=location.pk %}" class="right">edit this location</a>
    {% endif %}
    
    <h2>these transports are here right now</h2>
    {% for currentTransport in currentTransports  %}
        <ul class="signetlist">
        {% for transport in currentTransport  %}
        <li class="content_{{ transport.contentClass }}"><a href="/transport/{{ transport.id }}">{{ transport.contentDescription }} - {{ transport.currentHolder }} to  {{ transport.recipient }}</a></li>
        {% endfor  %}
        </ul>
    {% endfor  %}
    
    
    <h2>transport to here</h2>
    {% for recipientTransport in recipientTransports  %}
        <ul class="signetlist">
        {% for transport in recipientTransport  %}
            <li class="content_{{ transport.contentClass }}"><a href="/transport/{{ transport.id }}">{{ transport.contentDescription }} - {{ transport.currentHolder }} to  {{ transport.recipient }}</a></li>
        {% endfor  %}
        </ul>
    {% endfor  %}

    <h2>these people are here right now</h2>
    <ul>
    {% for locationUserTransport in locationUserTransports  %}
       <li><a href="/carrier/{{ locationUserTransport.id }}/" >{{ locationUserTransport.user }}</a></li>
    {% endfor  %}
    </ul>
    
    {% if location.author.id == user.id %}
    <form id="locationdelete" method="POST" class="right">
        {% csrf_token %}
        <input name="delete" type="hidden" value="yes" />
        <button>delete</button>
    </form>
    {% endif %}
    <hr class="cb" />

</div>

 <div id="mapid"></div>


{% endblock %}
