{% extends "kohrsupply/base.html" %}

{% block content %}

<div class="transport singletransport getfet_{{ transport.getfet }} content_{{ transport.contentClass }}">

    {% include "kohrsupply/transport_item.html" %}

    <br />
    #{{ transport.id }} | 
    Startpunkt: {{transport.origin }} bei {{ transport.sender }} um {{ transport.begin }} |
    Die letzte Bewegung: <span>{{ transport.lasttouched }}</span>
    <br />

    {% if user.is_authenticated and transport.currentHolder.id != user.id %}
    <form method="POST" id="taketransport" class="">
        {% csrf_token %}
        <input name="transport" value="take" type="hidden" />
        <button id="savetrs" type="submit" class="save btn btn-default">I take this transport</button>
    </form>
    {% elif user.is_authenticated %}

    {% else %}
    <p>Please <a href="{% url 'kohrsupply:login' %}" accesskey="l" >login</a> or <a href="{% url 'signup' %}">signup</a> to take this transport.</p>

    {% endif %}

    {% if transport.author.id == user.id or transport.recipient.id == user.id or user.is_superuser %}
    <a href="{% url 'transport_edit' pk=transport.pk %}" accesskey="e" >edit this transport</a>
    {% endif %}

    {% if transport.recipient.id == user.id %}
    <hr class="cb" />

        <form method="POST" id="closetransport" class="">
            {% csrf_token %}
            <input name="close" value="yes" type="hidden" />
            <button id="savetrs" type="submit" class="save btn btn-default">close this transport</button>
        </form>

    {% endif %}

    <hr class="cb" />
    <div class="log">
    <h3>log ▾</h3>
    <ul id="log">
    {% for transportPass in transportPasses %}
        <li >{{transportPass.newcurrentHolder }} at {{transportPass.location}} <em class="coords" >{{transportPass.locationLat}}, {{transportPass.locationLon}}</em></li>
    {% endfor %}
    </ul>
    </div>

    {% for transport.hubbingAroundRecipient in transport.hubbingAroundRecipients %}
    transport.hubbingAroundRecipients
    {% endfor %}

</div>

<div id="mapid"></div>
{% endblock %}
