/* general */
body{
    font:normal 12px Arial, Helvetica;
    margin:10px auto;
    max-width:950px;
    line-height:1.6;
    color:#444;
    padding:0 10px;
}
/* headings*/
h1,h2,h3{line-height:1.2}
h1,h2,h3,h4,h5,h6{padding:0; margin:3px 0 0 0;}
h1{color:#000; font-size: 150%; }
h2{color:#000; font-size: 140%; border-bottom: 1px solid gray;}
h3{color:#000; font-size: 130%; }
h4{color:#000; font-size: 120%; }
h5{color:#000; font-size: 110%; }
h6{color:#000; font-size: 105%; }
h1+h2 {margin-top: 2px;}
h2+h3 {margin-top: 2px;}
h3+h4 {margin-top: 2px;}
h4+h5 {margin-top: 2px;}
h5+h6 {margin-top: 2px;}

p {
    margin: 0;
}
/*
a { text-decoration: none; color: #4169E1; }
a:hover { text-decoration: underline; }
a:visited { color: #8470FF; }
a:active, /* set class "active" for current pages*/
*/
a.active { color: #2E6465; }
a[href^="#"] { font-style: italic; } /* anchor links staying on the current page */
a[href^="http"] {text-decoration: underline;}
a[href^="http"]:hover {text-decoration: none;}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

/* proportions and main style */
#header {
    text-align: right;
}

#navigation {
    background-color: #f5f5f5 ;
    padding: 0 10px;
}

#content  {
    margin-top: 15px;
}
#content form label {
  display:inline-block;
  *display:inline;
  width:10em;

}

form#userstate select,
form#userstate input {
    float: none;
}

#content form.post-form p {
    clear: both;
}

/* transport  */
.transport {
    padding: 5px 10px;
    }
.transport h1 span {
    font-size: 10px;
}

#mapid { height: 580px; }


ul.transportlist a.thislink  {
    display: none;
}
ul.transportlist a  {
    text-decoration: none;
    color: inherit;
}


/*states user and transports */

#setuserstate { display: inline;}
#setuserstate select {
   background: transparent;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}
#setuserstate option {
    height: 21px;
    padding-left: 25px;
    background-position: 1px 0 ;
    background-repeat: no-repeat;
}
#setuserstate option[value="sleeping"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_sleeping__20.png') ;
}
#setuserstate option[value="carrying"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_carying__20.png') ;
}
#setuserstate option[value="flooding"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_flooding__20.png') ;
}
#setuserstate option[value="hubbing" ] {
    background-image: url('//img.klml.de/devel/ptap/ptap_hubbing__20.png') ;
}
#setuserstate option[value="grabbing"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_grabbing__20.png') ;
}
#header .user {
    padding-left: 5px;
}

/* transportlist */
.transportlist {
    padding: 0;
    background-color: #fafafa;
}
.transportlist li {
    margin-bottom: 5px;
    list-style-type: none;
    padding: 1px 7px;
    background-color: #fff;
}
.transportlist li hr {
    color: #e5e5e5;
}

.getfet_sleeping {
    border-left: 5px solid gray;
}
.getfet_carrying {
    border-left: 5px solid #77AE9A;
}
.getfet_hubbing,
.getfet_grabbing {
    border-left: 5px solid #CF763A ;
}
.getfet_close {
    border-left: 5px solid yellow ;
}

.holder,
.recipient {
    border-top: 1px solid #E5E5E5;
    margin: 2px 0 0  0 ;
    font-weight: bold;
    padding-top: 4px;
}

.signet {
    background-color:  #fff;
    background-repeat: no-repeat ;
    background-size: 40px auto;
    color: #000;
    float: left;
    padding: 35px 25px 0 0;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 10px;
    width: 25px;
    margin: 0 4px 4px 0;
}

.content_nonfood .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Octicons-package.svg/40px-Octicons-package.svg.png')  ;
}
.content_people .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Community_Noun_project_2280.svg/40px-Community_Noun_project_2280.svg.png')  ;
}
.content_food .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Ravintola_724_tunnusosa.svg/40px-Ravintola_724_tunnusosa.svg.png')  ;
}
.content_warmfood .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Cup_of_coffee.svg/40px-Cup_of_coffee.svg.png')  ;
}
.content_chilledfood .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Symbol_solid_precipitation_70.svg/40px-Symbol_solid_precipitation_70.svg.png')  ;
}
.content_deepfrozenfood .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Symbol_solid_precipitation_73.svg/40px-Symbol_solid_precipitation_73.svg.png')  ;
}
.content_laundry .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Rpb_clothing_icon.svg/40px-Rpb_clothing_icon.svg.png')  ;
}
.content_garbage .signet {
    background-image: url('//upload.wikimedia.org/wikipedia/commons/thumb/1/1f/U%2B267A.svg/40px-U%2B267A.svg.png')  ;
}

/* recipient label */
.transport em.carrier {
    padding: 3px 3px 3px 23px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    border: 1px solid gray;
    font-size: 0.8em;
    vertical-align: 5px;
    font-style: normal;
    font-weight: normal;
}
.transport em.carrier small {
    display: none;
}
.transport .carriergetfet_hubbing em {
    border-left: 5px solid #BF5103 ;
    background-image: url('//img.klml.de/devel/ptap/ptap_hubbing_trns__18.png')  ;
}
.transport .carriergetfet_flooding em {
    border-left: 5px solid gray ;
    background-image: url('//img.klml.de/devel/ptap/ptap_flooding_trns__18.png') ;
}
.transport .carriergetfet_grabbing em {
    border-left: 5px solid #CC7135 ;
    background-image: url('//img.klml.de/devel/ptap/ptap_grabbing_trns__18.png') ;
}
.transport .carriergetfet_sleeping em {
    border-left: 5px solid gray ;
    background-image: url('//img.klml.de/devel/ptap/ptap_sleeping_trns__18.png') ;
}
.transport .carriergetfet_carrying em {
    border-left: 5px solid #B0BC28 ;
    background-image: url('//img.klml.de/devel/ptap/ptap_carying__18.png') ;
}


.carriergetfet_sleeping,
.carriergetfet_flooding {
    background-color: #e5e5e5; 
}


.distance2target{
    float: right;
    background-color: #428bca;
    color: #fff;
    padding: 0 4px;
    margin: 0 0 2px 2px ;
}
.coords {
 display: none;
}

.contentDescription  {
    clear: both; 
    padding-top: 10px;
    font-size: 1.2em;
}

.weight {
    background: url('//upload.wikimedia.org/wikipedia/commons/thumb/a/a1/PICOL_icon_Weight.svg/12px-PICOL_icon_Weight.svg.png') no-repeat 0px 0px #fff;
    background-size: 12px ;
    padding-left: 15px;
    margin-left: 10px;
}
.size {
    background: url('//upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Simple_icon_table.svg/17px-Simple_icon_table.svg.png') no-repeat 0px 0px #fff;
    background-size: 17px ;
    padding-left: 20px;
}




@media only screen and (max-width: 959px) {
    #logo {
        width: 70px;
    }
}
