/* general */
/*
#dde581 
#c2e2d4

#c7d42d
#99cfb8

*/
body{
    font:normal 14px Arial, Helvetica;
    margin:10px auto;
    max-width:950px;
    line-height:1.6;
    color:#444;
    padding:0 10px;
}
/* headings*/
h1,h2,h3{line-height:1.2}
h1,h2,h3,h4,h5,h6{padding:0; margin:3px 0 0 0;}
h1{color:#000; font-size: 120%; }
h2{color:#000; font-size: 110%; }
h3{color:#000; font-size: 140%; }
h4{color:#000; font-size: 104%; }
h5{color:#000; font-size: 102%; }
h6{color:#000; font-size: 101%; }
h1+h2 {margin-top: 2px;}
h2+h3 {margin-top: 2px;}
h3+h4 {margin-top: 2px;}
h4+h5 {margin-top: 2px;}
h5+h6 {margin-top: 2px;}

p {
    margin: 0;
}
/*
a { text-decoration: none; color: #4169E1; }
a:hover { text-decoration: underline; }
a:visited { color: #8470FF; }
a:active, /* set class "active" for current pages*/
*/
a.active { color: #2E6465; }
a[href^="#"] { font-style: italic; } /* anchor links staying on the current page */
a[href^="http"] {text-decoration: underline;}
a[href^="http"]:hover {text-decoration: none;}

a.button,
button {
    background-color:#99cfb8;
    border:1px solid #c2e2d4;
    display:inline-block;
    padding: 6px 15px;
    line-height: 1em;
    color: rgb(76, 76, 76);
    font-size: 0.9em;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
a.button:hover,
button:hover {
    background-color:#dde581;
}
a.button:active,
button:active {
    position:relative;
    top:1px;
}
.inline {
    display: inline;
}


/* proportions and main style */
#header {
    position: fixed;
    background: #fff;
    max-width: 950px; /* like wrapper */
    width: 100%;
    top: 0;
    font-size: 0.9em;
}
#header #personal {
    text-align: center;
    padding-right: 25px;
}
#header #navigation {
    background-color: #f5f5f5 ;
    padding: 0 10px;
}

#content  {
    margin-top: 8em;
}
#content form label {
  display:inline-block;
  *display:inline;
  width:10em;

}

form#userstate select,
form#userstate input {
    float: none;
}

#content form.post-form p {
    clear: both;
}
#header a.about {
    color: #000;
    line-height: 50px;
    padding: 5px 10px;
    background: #c2e2d4;
    text-decoration: none;
}

/* transport  */
.transport {
    padding: 0 10px;
    background-color: #c2e2d4;
    border-top: 5px solid #c2e2d4;
    border-bottom: 5px solid #c2e2d4;
    background-repeat: repeat-y ;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAQAAABeK7cBAAAADUlEQVR42mP8/5+BAQAHAwIAILjcJwAAAABJRU5ErkJggg==) ;
    background-position: 80px 0px;
    margin-bottom: 2px;
    }
.transport h1 span {
    font-size: 10px;
}

#mapid { height: 580px; }


ul.transportlist a.thislink  {
    display: none;
}
ul.transportlist a  {
    text-decoration: none;
    color: inherit;
}
.contentDescription > .signetdistance {
    float: left;
    margin-left: 5px;
    padding-right: 5px;
}

.signet {
    background-repeat: no-repeat ;
    background-size: 50px auto;
    background-position: 10px 10px;
    color: #000;
    color: transparent;
    padding: 53px 25px 0 0;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 10px;
    margin: 0 4px 4px 0;
}
ul.signetlist {
    padding-left: 0;
    margin:0;
}
ul.signetlist li {
    background-repeat: no-repeat ;
    background-size: 30px auto;
    padding-left: 45px;
    list-style-type: none;
    line-height: 35px;
}

ul.signetlist li.content_nonfood,
.content_nonfood .signet {
    background-image: url('//img.klml.de/devel/ptap/nonfood_icon__50.png')  ;
}
ul.signetlist li.content_people,
.content_people .signet {
    background-image: url('//img.klml.de/devel/ptap/people_icon__50.png')  ;
}
ul.signetlist li.content_food,
.content_food .signet {
    background-image: url('//img.klml.de/devel/ptap/food_icon__50.png')  ;
}
ul.signetlist li.content_warmfood,
.content_warmfood .signet {
    background-image: url('//img.klml.de/devel/ptap/warmfood_icon__50.png')  ;
}
ul.signetlist li.content_chilledfood,
.content_chilledfood .signet {
    background-image: url('//img.klml.de/devel/ptap/chilledfood_icon__50.png')  ;
}
ul.signetlist li.content_deepfrozenfood,
.content_deepfrozenfood .signet {
    background-image: url('//img.klml.de/devel/ptap/frozenfood_icon__50.png')  ;
}
ul.signetlist li.content_laundry,
.content_laundry .signet {
    background-image: url('//img.klml.de/devel/ptap/laundry_icon__50.png')  ;
}
ul.signetlist li.content_garbage,
.content_garbage .signet {
    background-image: url('//img.klml.de/devel/ptap/garbage_icon__50.png')  ;
}



/*states user and transports */

#setuserstate { display: inline;}
#setuserstate select {
   background: transparent;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
}
#setuserstate option {
    height: 21px;
    padding-left: 25px;
    background-position: 1px 0 ;
    background-repeat: no-repeat;
}
#setuserstate option[value="sleeping"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_sleeping__20.png') ;
}
#setuserstate option[value="carrying"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_carying__20.png') ;
}
#setuserstate option[value="flooding"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_flooding__20.png') ;
}
#setuserstate option[value="hubbing" ] {
    background-image: url('//img.klml.de/devel/ptap/ptap_hubbing__20.png') ;
}
#setuserstate option[value="grabbing"] {
    background-image: url('//img.klml.de/devel/ptap/ptap_grabbing__20.png') ;
}
#header .user {
    padding-left: 5px;
}

/* transportlist */
.transportlist {
    padding: 0;
    background-color: #fafafa;
}
.transportlist li {
    margin-bottom: 5px;
    list-style-type: none;
    padding: 1px 5px;
}
.transportlist li hr {
    color: #e5e5e5;
}

.holder,
.recipient {
    margin: 2px 0 0  0 ;
    font-weight: bold;
    padding-top: 4px;
}
.holder span,
.recipient span {
    display: inline-block;
    min-width: 15em;
}

/* recipient label */
.transport em.carrier {
    padding: 3px 3px 3px 23px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: 2px 1px;
    font-size: 0.8em;
    vertical-align: 5px;
    font-style: normal;
    font-weight: normal;
}
.transport em.carrier small {
    display: none;
}
.transport .carriergetfet_hubbing em {
    background-image: url('//img.klml.de/devel/ptap/kohr_hubbing_white__18.png')  ;
}
.transport .carriergetfet_flooding em {
    background-image: url('//img.klml.de/devel/ptap/kohr_flodding_white__18.png') ;
}
.transport .carriergetfet_grabbing em {
    background-image: url('//img.klml.de/devel/ptap/kohr_grabbing_white__18.png') ;
}
.transport .carriergetfet_sleeping em {
    background-image: url('//img.klml.de/devel/ptap/kohr_sleeping_white__18.png') ;
}
.transport .carriergetfet_carrying em {
    background-image: url('//img.klml.de/devel/ptap/kohr_carrying_green__18.png') ;
}

.distance2target{
    border-top: 1px solid #000;
}
span.coords {
    display: none;
}

.contentDescription  {
    padding-top: 10px;
}
.contentDescription > * {
    margin-left: 85px;
}

.weight {
    padding-left: 15px;
    margin-left: 10px;
}
.size {
}

.log {
    background-color: #fff;
}

.location button {
    margin-right: 5px;
}

.yours {
    font-size: 1.2em;
    color: gold;
}


@media only screen and (max-width: 959px) {
    body{
        padding:0 1px;
    }
    #logo img {
        width: 85px;
    }
    #content  {
        margin-top: 7em;
    }
    #mapid {
        border-right: 10px solid white ;
    }
    .holder span, .recipient span {
        min-width: 5em;
    }
    .transport {
        background-position: 60px 0px;
    }
    .signet {
        background-size: 35px auto;
        background-position: 2px 5px;
        padding-top: 30px;
    }
    .signetdistance {
        width: 40px;
    }
    .distance2target {
        font-size: 0.8em;
    }
    .transportlist li {
        margin-bottom: 1px;
    }
    .contentDescription {
        padding-top: 0;
    }
    .contentDescription > * {
        margin-left: 65px;
    }
    #setuserstate select {
        width: 110px;
    }
}
